<h1>Tous les cocktails</h1>
<div class="row row-cols-1 row-cols-md-3">
  <% @cocktails.each do |cocktail| %>
    <div class="col">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <%= link_to 'Voir', cocktail, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
