<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<p>
  On s'est battu pour ça, j'veux dire on a fait des révolutions, nos grands parents se sont beurrés la gueule le Vendredi midi, nos parents se sont beurrés la gueule le Vendredi après-midi, personne ne doit travailler le Vendredi après-midi. Le Vendredi après-midi on est Bleu on dit des conneries, on insultes des gens, on dort aux chiottes, on ne bosse pas et on ne prend pas de rendez-vous le Vendredi après-midi, on est pas des allemands, MERDE !
</p>
