<nav class="navbar navbar-lewagon mb-3">
  <a class="navbar-brand d-flex " href="/">
    <%= image_tag "logo-bleu-metal.png", class: "d-inline-block align-top" %>
    <h3 class="ml-3">Bleu Metal !</h3>
  </a>
  <%= link_to 'Ajouter un cocktail', new_cocktail_path , class: "btn btn-primary my-2 my-sm-0" %>
</nav>
